<template>
  <div class="homeText">
    <h1>Syötä tapahtuma</h1>
    <form @submit="checkForm" >
      <input type="text" name= "nimi" v-model="posts.content" placeholder="Tapahtuman nimi"/>
      <input type="text" name= "pvm" v-model="posts.date" placeholder="Tapahtuman päivämäärä"/>
      <button type="submit">Tallenna</button>
    </form>
  </div>
</template>
<script>


import Vue from 'vue'
import axios from 'axios'
import VueAxios from 'vue-axios'
import VueSimpleAlert from "vue-simple-alert";

Vue.use(VueSimpleAlert);
Vue.use(VueAxios, axios)



export default {
  name: 'AddEvent',
  data(){
    return{
      posts: {
        content:null,
        date:null,
      }
    }
  },
  methods: {
    checkForm: function (e) {
      /*if (this.nimi && this.pvm) {
        return true;
      }*/

      if (this.posts.content == null) {
        this.$fire({
          type: 'error',
          title: 'Lähetys epäonnistui!',
          text: 'Täydennä Nimi kenttä.'
        });
      }
      else if (this.posts.date == null) {
        this.$fire({
          type: 'error',
          title: 'Lähetys epäonnistui!',
          text: 'Täydennä pvm kenttä.'
        });
      }
      else {
        this.postData(e)
        this.$fire({
          type: 'success',
          title: 'Lähetys onnistui!',
          text: 'Onneksi Olkoon!'
        });
      }

      e.preventDefault();
    },
    postData(e) {
      this.axios.post(" http://localhost:3001/events", this.posts)
          .then((result)=>{
            console.warn(result)

          })
      console.warn(this.posts)
      e.preventDefault();

    },

  }
};
</script>
<style scoped>
.homeText{
  font-size: 35px;
  color: red;
  text-align: center;
  position: relative;
  top:30px;
  text-shadow: 2px 2px 2px gray;
}
</style>