<template>
  <div class="homeText">
    <h1>Lista tapahtumista</h1>
    <table>
      <tr>
        <th>Nimi</th>
        <th>PM</th>
      </tr>

      <tr v-for="event in events" :key="event.id">
        <td>{{event.content}}</td>
        <td>{{event.date}}</td>
      </tr>
    </table>
  </div>
</template>

<script>

//npx json-server --port=3001 --watch vuedb.json
//npm run serve
import eventsData from "../../vuedb.json";

export default {
  name: 'ListEvent',
  computed:{
    events(){
      return eventsData.events.map((item)=>{
        return item;
      })
    }
  }
}

</script>
<style scoped>
.homeText{
  font-size: 35px;
  color: red;
  text-align: left;
  position: relative;
  top:30px;
  text-shadow: 2px 2px 2px gray;
}
table{
  color:white;
  border: 5px solid #17a2b8;
  background-color: #17a2b8;
  font-weight: normal;
  text-align:left;
}
th{
  padding:10px;
  color:black;
  padding-bottom:0px;
}
td{
  font-weight: lighter;
  padding: 10px;
}
</style>
