<template>
  <div class="homeText">
    <h1>Syötä tapahtuma</h1>
    <form @submit="postData" method="post">
      <input type="text" name= "nimi" v-model="content" placeholder="Tapahtuman nimi"/>
      <input type="text" name= "pvm" v-model="date" placeholder="Tapahtuman päivämäärä"/>
      <button type="submit">Tallenna</button>
    </form>
  </div>
</template>
<script>


import Vue from 'vue'
import axios from 'axios'
import VueAxios from 'vue-axios'
Vue.use(VueAxios, axios)

export default {
  name: 'AddEvent',
  data(){
    return{
      posts: {
        content:null,
        date:null,
      }
    }
  },
  methods: {
    postData(e) {
      this.axios.post("../assets/vuedb.json", this.post)
          .then((result)=>{
            console.warn(result)
          })
      
      console.warn(this.posts)
      e.preventDefault();

    },

  }
};
</script>
<style scoped>
.homeText{
  font-size: 35px;
  color: red;
  text-align: center;
  position: relative;
  top:30px;
  text-shadow: 2px 2px 2px gray;
}
</style>